<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Coffee Club</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Dropdown link
          </button>
          <div class="dropdown-menu" aria-labelledby="coffeeshops">
            {{#each coffeeshops}}
            <a class="dropdown-item" href="/shop/{{id}}">{{{name}}}</a>
            {{/each}}
          </div>
        </div>
      </li>
  </div>
</nav>
<div class="container">
  <div class="row">
    <h4>Name: {{{name}}}</h4>
    <h6>Bio: {{bio}}</h6>
    <h4>Address: {{address}}</h4>
  </div>

</div>

<div class="container">
  <div>
    <h3>
      Add a Review
    </h3>
    <form id="add-review">
      <div class="form-group">
        <textarea class="form-control" id="review" rows="3"></textarea>
      </div>
      <button class="btn btn-primary">Add Review</button>
    </form>
  </div>
  <div class="reviews">
    {{#each Reviews}}
    <h2>{{comment}}</h2>
    <h3>{{rating}}</h3>
    {{/each}}
  </div>
</div>

<script>
  $("#add-review").on("submit", function (e) {
    e.preventDefault();
    var review = {
      comment: $("#review").val().trim(),
      rating: 3,
      CoffeeHouseId: {{id}}
    };

    $.ajax({
      method: "POST",
      url: "/api/review",
      data: review
    }).then(function (res) {
      location.reload();
    }).catch(function (err) {
      // something went wrong.
      // handle it
      console.log(err);
    })
  })
</script>