

<div class="container">
  <div class="row">
      <div class="col-md-3">
          Image
      </div>
      <div class="col-md-9">
          <h1>{{{name}}}</h1>
          <p>Bio: {{bio}}</p>
          <div class="alert alert-primary">
              <strong>Address:</strong> <br>{{address}}
          </div>
      </div>

  </div>

</div>

<div class="container">
    {{#if user}}
  <div>
    <h3>
      Add a Review
    </h3>
    <form id="add-review">
      <div class="form-group">
        <textarea class="form-control" id="review" rows="3"></textarea>
          <select name="rating" id="rating">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
          </select>
      </div>

      <button class="btn btn-primary">Add Review</button>
    </form>
  </div>
    {{/if}}
    {{#unless user}}
      <div class="alert alert-warning">
          <h3>Want to leave a comment?</h3>
          <p>Sign in on top or <a href="/signup" class="btn btn-sm btn-info">register</a></p>

      </div>

    {{/unless}}

  <div class="reviews">
    {{#each Reviews}}
    <div class="card mt-2">
        <div class="card-body">
            <p>{{comment}}</p>
            <div class="rating" data-data="{{rating}}">
            </div>
            {{#if user}}
                <a href="/profile/{{UserId}}" class="user-link" data-data="{{UserId}}">Anonymous</a>
            {{/if}}
            {{#unless user}}
                <a href="/signup" class="user-link" data-data="{{UserId}}">Anonymous</a>
            {{/unless}}
        </div>
    </div>

    {{/each}}
  </div>
</div>

<script>
    let knownUsers = {};
    async function getUser(id){
        let loggedIn = false;
        {{#if user}}
        loggedIn = true;
        {{/if}}
        if(loggedIn){
            if(typeof knownUsers['u_'+id] === 'undefined'){
                knownUsers['u_'+id] = await $.ajax({
                    method:'GET',
                    url:'/api/user-profile/'+id
                });
                return knownUsers['u_'+id];
            } else {
                return knownUsers['u_'+id];
            }

        } else {
            return {
                name: 'Anonymous'
            }
        }
    }
    $('.user-link').each(function () {
        getUser($(this).data('data')).then((user)=>{
            console.log(user);
            $(this).html(user.name);
        })

    });
  $('.rating').each(function(){
      let rating = $(this).data('data');
      console.log('star: '+rating);
      for(let i = 0; i< 5; i++){
          if(Number(rating)>i){
              $(this).html($(this).html()+'<i class="fa fa-star"></i>');
          } else {
              $(this).html($(this).html()+'<i class="fa fa-star-o"></i>');
          }

          console.log('star: '+rating)
      }

  });

  $("#add-review").on("submit", function (e) {
    e.preventDefault();
    var review = {
      comment: $("#review").val().trim(),
      rating: $('#rating').val(),
      CoffeeHouseId: {{id}}
    };

    $.ajax({
      method: "POST",
      url: "/api/review",
      data: review
    }).then(function (res) {
      location.reload();
    }).catch(function (err) {
      // something went wrong.
      // handle it
      console.log(err);
    })
  })
</script>
         