<!--added a my-container class-->
<div class="container">
    <!--Created the proper rows and columns for About Me-->
    <div class="row d-flex justify-content-center" id="profilebox">
        <h1>{{profile.name}}</h1>
    </div>

    <!--added a thematic break for light asthetics and spacing-->
    <hr>
    <!--Created the rows and columns for profile image and the About Me text-->


    <div class="row">
        <div class="col-md-2">
            <img src="{{#if profile.imgURL}}{{profile.imgURL}}{{else}}http://www.thestoryof.org/wp-content/uploads/2016/09/profile-placeholder.jpg{{/if}}"
                class="profile-img img-fluid mt-4 responsive image" alt="profile image">

        </div>
        <div class="col-md-10">
            <!--*change LI to my About Me*-->
            <p class="bio">
                {{profile.bio}}
            </p>
        </div>
        <div>
            <p>Favorite coffee:{{profile.favCoffee}}</p>
            <p>Favorite coffee shop:{{profile.favCoffeeShop}}</p>
        </div>
    </div>
</div>
<div class="container">
    <div class="reviews">
        {{#each Reviews}}
            <div class="card mt-2">
                <div class="card-body">
                    <h2>{{comment}}</h2>
                    <div class="rating" data-data="{{rating}}">
                    </div>
                    <a href="/shop/{{CoffeeHouseId}}" class="coffeeHouse-link" data-data="{{CoffeeHouseId}}"></a>
                </div>
            </div>
        {{/each}}
    </div>
</div>

<!--added a bootstrap sticky footer with an additional class for css styling-->
<footer class="footer mt-auto py-3">
    <div class="container">
        <span class="text-muted">Copyright ©</span>
    </div>
</footer>
<script>

   let targetElement = {};
    $('.coffeeHouse-link').each(function (index) {
        targetElement['s_'+index] = $(this);
        $.ajax({
            method: 'GET',
            url: '/api/coffeehouse/'+$(this).data('data')
        }).then(function(ch){
            targetElement['s_'+index].html(ch.name);
        })

    });
    $('.rating').each(function(){
        let rating = $(this).data('data');
        console.log('star: '+rating);
        for(let i = 0; i< 5; i++){
            if(Number(rating)>i){
                $(this).html($(this).html()+'<i class="fa fa-star fa-2x"></i>');
            } else {
                $(this).html($(this).html()+'<i class="fa fa-star-o fa-2x"></i>');
            }

            console.log('star: '+rating)
        }

    });

</script>
         